.MainMenu {
    display: flex;
    flex-basis: 250px;
    background-color: dodgerblue;
}

.MainMenu nav {
    flex-grow: 1;
}

.MainMenu ul {
    list-style: none;
    padding: 0;
}

.MainMenu li {
    display: flex;
}

.MainMenu li a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.MainMenu li a:hover {
    background-color: #00000030;
}